.container {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    max-width: 800px;
    padding: 20px;
    background-color: #ccccff;
    border-radius: 18px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
